# IDE
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Java / Maven / Gradle
target/
out/
.classpath
.project
.settings/

# Node
node_modules/
dist/

# Env / secrets
.env
.env.*
*.key

/设计.md
